@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-color: darkcyan; */
    background-image: url(https://picsum.photos/seed/100/1000);
    background-size: cover;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Rock Salt', cursive;
}
